<mat-progress-bar *ngIf="loading > 0" class="progress" mode="indeterminate"></mat-progress-bar>

<div class="container inner-page">
    <ng-container *ngIf="reset && loading <= 0">
        <h1>Redefinir minha senha</h1>
        <p>Ou <a [routerLink]="['/','user', 'create']">clique aqui</a> para fazer login.</p>
        <form class="common-form-max" [formGroup]="formGroup" fxLayout="column" (submit)="submit()">
            <div fxLayout="row">
                <mat-form-field fxFlex appearance="outline" class="margin-right">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" required formControlName="password"/>
                    <mat-error *ngIf="form.password?.errors?.required">Você deve preencher a senha.</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Confirme sua Senha</mat-label>
                    <input matInput type="password" required formControlName="password_confirm"/>
                    <mat-error *ngIf="form.password_confirm?.errors?.required">Você deve preencher a confirmação senha.</mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit">Redefinir senha</button>
        </form>
    </ng-container>
    <ng-container *ngIf="!reset && loading <= 0">
        <h1>O token de redefinição de senha expirou</h1>
        <p>
            Por favor, envie novamente um e-mail de redefinição de senha <a [routerLink]="['user', 'forgot']">Clicando aqui</a>.
        </p>
    </ng-container>
</div>
