@import "src/variables";

table {
    border-collapse: collapse;
    th {
        text-align: left;
        padding-bottom: 15px;
    }
    tr {
        td {
            padding: 10px;
        }
        border-bottom: 1px solid #efefef;
    }
    .border-bottom {
        border-bottom: 1px solid #d6d6d6;
    }
}
.total-without-discount {
    text-decoration: line-through;
    color: #a4a4a4;
}
.or {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #c4c4c4;
    .line {
        border-bottom: 1px solid #ededed;
        height: 15px;
    }
}
.product-image {
    width: 50px;
    height: 50px;
}
.cart :host {
    width: 100%;
}
.payment-options {
    margin-bottom: 30px;
    > div {
        cursor: pointer;
        padding: $margin * 2;
        color: $base-accent;
        border: 2px solid $base-accent;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
        &.selected {
            background: $base-accent;
            color: #fff;
        }
        > div {
            margin-left: $margin;
            font-weight: bold;
            font-size: 20px;
        }
        i {
            font-size: 50px;
        }
    }
}