<mat-progress-bar *ngIf="loading > 0" class="progress" mode="indeterminate"></mat-progress-bar>
<div class="container inner-page" fxLayout="column" fxLayoutAlign="space-between start" fxLayout.gt-sm="row">
    <div fxLayout="column" fxFlex class="margin-right common-form-max">
        <h1>Escolha sua opção de pagamento</h1>
        <div fxLayout="row" class="payment-options margin-bottom" fxLayoutGap="10px">
            <div fxFlex fxLayout="column" (click)="option = 'pix'" [class.selected]="option === 'pix'">
                <i class="mdi mdi-cellphone-nfc"></i>
                <div>Pagar com PIX</div>
            </div>
            <div fxFlex fxLayout="column" (click)="option = 'creditcard'" [class.selected]="option === 'creditcard'">
                <i class="mdi mdi-credit-card-outline"></i>
                <div>Pagar com Cartão de Crédito</div>
            </div>
        </div>
        <ng-container *ngIf="option === 'creditcard'">
            <h2>Pagamento com Cartão de Crédito</h2>
            <div class="card">
                <div class="number"></div>
            </div>
            <form [formGroup]="formGroup" fxLayout="column" (submit)="creditCard()">
            <mat-form-field appearance="outline">
                <mat-label>Número do Cartão</mat-label>
                <input matInput mask="0000 0000 0000 0000" required formControlName="number"/>
                <mat-error *ngIf="form?.number?.errors?.required">
                    O número do cartão é requerido.
                </mat-error>
                <mat-error *ngIf="form?.number?.errors?.minLength">
                    O cartão precisa ter ao menos 16 números
                </mat-error>
            </mat-form-field>
            <mat-form-field  appearance="outline">
                <mat-label>Nome no Cartão</mat-label>
                <input matInput required formControlName="name"/>
                <mat-error *ngIf="form?.name?.errors?.required">
                    O nome é requerido.
                </mat-error>
            </mat-form-field>
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="outline" ngClass.gt-sm="margin-right">
                    <mat-label>Expira em</mat-label>
                    <input matInput required mask="00/00" formControlName="date"/>
                    <mat-error *ngIf="form?.date?.errors?.required">
                        A data é requerida.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>CVC</mat-label>
                    <input matInput required mask="0009" formControlName="cvc"/>
                    <mat-error *ngIf="form.cvc.errors?.required">
                        O código do cartão é requerido.
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field  appearance="outline">
                <mat-label>Número do CPF</mat-label>
                <input matInput required [mask]="'000.000.000-00'" formControlName="cpf"/>
                <mat-error *ngIf="form?.cpf?.errors?.required">
                    O CPF é requerido.
                </mat-error>
            </mat-form-field>
        </form>
        </ng-container>
    </div>
    <div fxFlex.gt-sm="500px" fxLayout="column" ngClass.lt-sm="margin-top">
        <h1>Confira seu carrinho</h1>
        <div class="cart" fxLayout="column">
            <small class="muted">Produtos</small>
            <div *ngFor="let product of products; let i = index">
                <div fxFill fxLayoutAlign="space-between center" class="padding-vertical">
                    <div fxLayout="row" class="padding-horizontal">
                        <img [src]="product.files[0]?.url" class="product-image rounded">
                        <div class="margin-left">
                            <div>{{ product.name }}</div>
                            <div class="muted">{{ product.selected_option?.name }}</div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="margin-right" fxFlex="80px">{{ product.quantity }} unidades</div>
                        <div class="margin-left" fxFlex="80px">{{ product.total_price | price }}</div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div fxFill fxLayoutAlign="end center" class="padding-vertical">
                <div fxLayout="row" class="text-right bold margin-right">
                    Sub-total:
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80px">
                    {{ subTotal | currency: 'R$' }}
                </div>
            </div>

            <small class="margin-top" class="muted">Frete</small>
            <div fxFill>
                <div fxFill fxLayoutAlign="space-between center" class="margin-horizontal">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img height="12px" width="50px" [src]="shippingOption.image">
                        <div class="margin-left" fxLayout="column">
                            <div>{{ shippingOption?.name }}</div>
                            <small class="muted">
                                {{ user.main_address?.street_name }}, {{ user.main_address?.street_number }} {{ user.main_address?.complement }},
                                {{ user.main_address?.city?.name }}
                                - {{ user.main_address?.city?.state?.code }}
                                - {{ user.main_address?.zip_code }}
                            </small>
                            <small><a [routerLink]="['/','user', 'address']">Trocar o endereço</a></small>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80px">
                        {{ shippingOption?.price | price }}
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div fxFill fxLayoutAlign="end center" class="margin-bottom padding-vertical">
                <div fxLayout="row" class="text-right bold margin-right">
                    Total:
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80px" class="text-right">
                    {{ total | currency: 'R$' }}
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary" (click)="submit()" [disabled]="!option">
            <span *ngIf="option">Efetuar pagamento</span>
            <span *ngIf="!option">Escolha uma opção de pagamento</span>
        </button>
    </div>
</div>