<mat-progress-bar *ngIf="loading > 0" class="progress" mode="indeterminate"></mat-progress-bar>
<div class="container inner-page" fxLayout="column" fxLayoutAlign="space-between start" fxLayout.gt-sm="row">
    <div fxFlex class="margin-right common-form-max">
        <h1>Informe seu e-mail</h1>
        <h2>
            O seu e-mail será usado para lhe enviar atualizações de status do pedido.
        </h2>
        <form [formGroup]="formGroup" fxLayout="column" (submit)="submit()">
            <mat-form-field fxFlex appearance="outline" class="margin-right">
                <mat-label>E-mail</mat-label>
                <input matInput required formControlName="email"/>
            </mat-form-field>
            <div>
                <button class="large-button" mat-flat-button color="primary" type="submit">Continuar para Pagamento</button>
            </div>
        </form>
    </div>
    <div fxFlex.gt-sm="500px">
        <h1>Finalizar Compra</h1>
        <app-cart></app-cart>
    </div>
</div>