@import 'src/variables';
.contact-us {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
    > .container {
        padding: 0px !important;
        > div {
            font-weight: 100;
            background: #f65613;
            color: #fff;
            padding: 0 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 5px;
            a {
                color: #fff;
                i {
                    font-size: 20px;
                }
            }

        }
    }
}
section {
    padding: $margin 0;
    .product {
        margin-bottom: 30px;
    }
    .info {
        font-size: 20px;
    }
}
.container-categories {
    background: url("../../../../assets/images/background-categories.png");
    .categories {
        overflow: auto;
        .category {
            border-radius: 50%;
            opacity: 1;
            border: 5px solid #ffffff;
            &.selected {
                border: 5px solid $base-accent;
            }
        }
    }
}
.footer {
    border-top: 2px solid $base-primary;
    padding-top: $margin * 3;
    div {
        i {
            font-size: 40px;
            color: $base-accent;
        }
        div {
            line-height: 30px;
            color: #343434;
            margin-left: $margin;
            font-size: 18px;
        }
    }
}