<mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>

<div class="contact-us">
    <div class="container" fxLayout="row" fxLayoutAlign="end center">
        <div fxLayout="row" fxLayoutGap="10px">
            <div>Atendimento</div>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5511974577357&text=Ol%C3%A1%2C%20vim%20pelo%20site!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es!">
                <i class="mdi mdi-whatsapp"></i>
            </a>
            <a target="_blank" href="mailto:contato@anaraquelilustracoes.com.br">
                <i class="mdi mdi-email"></i>
            </a>
        </div>
    </div>
</div>

<!--
<app-carousel fxHide.lt-sm [height]="500" [width]="1920" [slides]="banners"></app-carousel>
<app-carousel fxHide.gt-xs [height]="350" [width]="500" [slides]="banners"></app-carousel>
-->

<div class="video" fxLayoutAlign="center start">
    <div class="content" fxLayoutAlign="center center" fxLayout="column">
        <div class="description">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h1 class="no-margin">Quadros Ilustrativos feitos com amor!</h1>
                <i class="red margin-left mdi mdi-heart"></i>
            </div>
            <h2>Molduras e impressão de qualidade, vidro anti-reflexo <br> e embalagem feita em cartonagem artesanal.</h2>
        </div>
    </div>
    <video #video width="1920" height="450" autoplay="autoplay" muted="muted" loop="loop" (canplay)="video.play()" (loadedmetadata)="video.muted = true">
        <source src="assets/videos/header.mp4" type="video/mp4" />
    </video>
</div>

<section class="container top" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="15px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-brush"></i>
        <div>Quadros feitos pela artista Ana Raquel</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-hand-heart"></i>
        <div>Caixas 100% artesanais feitas pelo Ateliê Dora Lazarini</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-map-marker-check"></i>
        <div>Entregamos em todo o Brasil</div>
    </div>
</section>

<section class="container">
    <h1 class="title">
        <i class="mdi mdi-lightbulb-on-outline"></i>
        Quadros em destaque
    </h1>
    <app-product-carousel [category]="'spotlight'"></app-product-carousel>
</section>

<div class="container-categories margin-top">
    <section class="container">
        <div fxLayout="row" fxLayoutGap="2%" class="categories">
            <ng-container *ngFor="let category of categories">
                <app-category [category]="category" (click)="filtering(category)" class="category"
                              [class.selected]="category.id === this.filter?.category_id"></app-category>
            </ng-container>
        </div>
        <div fxFlexFill fxLayoutAlign="center center">
            <mat-progress-spinner mode="indeterminate" *ngIf="loadingCategories"></mat-progress-spinner>
        </div>
    </section>
</div>

<section class="container margin-top">
    <h1 class="margin-top">
        <i class="mdi mdi-palette"></i>
        {{ title() }}
    </h1>
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="2%">
        <ng-container *ngFor="let product of products">
            <app-product fxFlex="100%" fxFlex.gt-sm="18%" class="product" [product]="product"></app-product>
        </ng-container>
    </div>
    <div fxFlexFill fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate" *ngIf="loadingProducts"></mat-progress-spinner>
        <div *ngIf="!loadingProducts && products.length === 0" class="muted info">
            Nenhum produto nesta categoria.
        </div>
    </div>
</section>

<section class="container footer" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="15px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-phone-in-talk"></i>
        <div>Atendimento de Segunda a Sexta das 09:00 às 18:00hrs</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-sale"></i>
        <div>Parcele em até 12x sem juros</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-credit-card-outline"></i>
        <div>Pague com PIX ou com um Cartão de crédito nas principais bandeiras</div>
    </div>
</section>
