<mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>
<app-carousel [height]="500" [width]="1920" [slides]="banners"></app-carousel>

<section class="container">
    <h1 class="margin-top">Em destaque</h1>
    <div>
        <app-product-carousel category="spotlight"></app-product-carousel>
    </div>
</section>

<section class="container">
    <h1 class="margin-top">Todas as Ilustrações</h1>
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="2%">
        <ng-container *ngFor="let product of products">
            <app-product fxFlex="100%" fxFlex.gt-sm="18%" class="product" [ngClass.lt-sm]="''" [product]="product"></app-product>
        </ng-container>
    </div>
</section>