section {
    padding: 30px 0px;
    .product {
        margin-bottom: 30px;
    }
    .categories {
        overflow: auto;
        .selected {
            opacity: 70%;
        }
    }
    .info {
        font-size: 20px;
    }
}