<mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>

<app-carousel fxHide.lt-sm [height]="500" [width]="1920" [slides]="banners"></app-carousel>

<div class="container-categories">
    <section class="container">
        <div fxLayout="row" fxLayoutGap="2%" class="categories">
            <ng-container *ngFor="let category of categories">
                <app-category [category]="category" (click)="filtering(category)" class="category"
                              [class.selected]="category.id === this.filter?.category_id"></app-category>
            </ng-container>
        </div>
        <div fxFlexFill fxLayoutAlign="center center">
            <mat-progress-spinner mode="indeterminate" *ngIf="loadingCategories"></mat-progress-spinner>
        </div>
    </section>
</div>

<section class="container">
    <h1 class="margin-top">{{ title() }}</h1>
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="2%">
        <ng-container *ngFor="let product of products">
            <app-product fxFlex="100%" fxFlex.gt-sm="18%" class="product" [product]="product"></app-product>
        </ng-container>
    </div>
    <div fxFlexFill fxLayoutAlign="center center">
        <mat-progress-spinner mode="indeterminate" *ngIf="loadingProducts"></mat-progress-spinner>
        <div *ngIf="!loadingProducts && products.length === 0" class="muted info">
            Nenhum produto nesta categoria.
        </div>
    </div>
</section>

<section class="container footer margin-top" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="15px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-phone-in-talk"></i>
        <div>Atendimento de Segunda a Sexta das 08:00 às 16:00hrs</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-sale"></i>
        <div>Parcele em até 6x sem juros ou ganhe 10% de desconto pagando à vista.</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <i class="mdi mdi-credit-card-outline"></i>
        <div>Pague com PIX ou com um Cartão de crédito nas principais bandeiras.</div>
    </div>
</section>
