@import 'src/variables';
section {
    padding: 30px 0px;
    .product {
        margin-bottom: 30px;
    }
    .categories {
        overflow: auto;
        .category {
            opacity: 1;
            &.selected {
                border: 2px solid $base-accent;
            }
        }
    }
    .info {
        font-size: 20px;
    }
}