<mat-progress-bar class="progress" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1>{{ id ? 'Editar' : 'Adicionar' }} Banner</h1>
    <button (click)="submit()" color="primary" mat-flat-button>
        <mat-icon svgIcon="plus"></mat-icon>
        {{ id ? 'Salvar edição' : 'Adicionar' }}
    </button>
</div>

<form class="common-form  padding" [formGroup]="formGroup" (submit)="submit()">
    <div class="common-form-max" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Nome do Banner</mat-label>
            <input matInput required formControlName="name"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Slug (inserção no código)</mat-label>
            <input matInput required formControlName="slug"/>
        </mat-form-field>

        <button mat-button color="primary" type="button" (click)="addBanner()">
            <mat-icon svgIcon="plus"></mat-icon> Adicionar Banner
        </button>

        <div fxFlex>
            <div class="padding" *ngFor="let banner of banners.controls; let i = index" [formGroup]="banners.controls[i]" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput required formControlName="name"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Conteúdo</mat-label>
                    <textarea matInput required formControlName="content"></textarea>
                </mat-form-field>
                <app-file-upload type="App\Models\Banner" [id]="banner.value.id" [token]="this.token" [multiple]="false"
                                 (uploaded)="fileUploaded(i, $event)">
                </app-file-upload>
                <button mat-button color="warn" type="button" (click)="removeBanner(i)">
                    <mat-icon svgIcon="trash-can"></mat-icon> Remover banner
                </button>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</form>
