<div fxLayout="column">
    <div class="container margin-top" fxFlex="none">
        Fique tranquilo, todos os meios de pagamentos de nossa loja são super seguros, você pode efetuar o pagamento através do Stripe®, cartões Visa ou MasterCard®, ou até mesmo por PIX.
    </div>

    <footer fxFlex="none">
        <div class="container" fxLayoutAlign="space-between start" fxLayout="column">
            <div fxLayout="row">
                <img width="150px" src="assets/images/logo-black.png">
            </div>
            <div class="made-by">
                <div>
                    Ana Raquel Ilustrações © 2021 - CNPJ 41.559.430/0001-25
                </div>
                <div>
                    Desenvolvido por Laitsoft
                </div>
            </div>
        </div>
    </footer>
</div>