<mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>
<div class="breadcrumb">
    <div class="container" fxLayout="row">
        <div>Home</div>
        <mat-icon svgIcon="arrow-right"></mat-icon>
        <div>Produtos</div>
        <mat-icon svgIcon="arrow-right"></mat-icon>
        <div>{{ product?.name }}</div>
    </div>
</div>
<div class="container page">
    <ngx-json-ld [json]="seoSchema"></ngx-json-ld>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
        <div class="image" fxFlex="none" ngClass.lt-sm="w100" fxFlex.gt-sm="70%" fxLayoutAlign="center start">
            <app-carousel [slides]="product?.files" fxFlex.gt-sm="500px" ngClass.lt-sm="w100" [width]="500" [height]="700"></app-carousel>
        </div>
        <div class="product-info" ngClass.gt-sm="large" fxFlex.gt-xs="30%" fxFlex="100%">
            <div class="title-price">
                <h1 class="name">{{ product?.name }}</h1>
                <small class="muted" *ngIf="!optionsNotSelected()">A partir de</small>
                <div class="price">
                    {{ price | price }}
                </div>
            </div>
            <div class="options">
                <div class="attributes" fxLayout="column" fxLayoutGap="20px">
                    <div *ngFor="let attribute of product?.attributes" class="margin-bottom">
                        <small class="name muted">{{ attribute.name }}</small>
                        <div>
                            <button mat-stroked-button color="accent" class="margin-right" *ngFor="let option of attribute.options"
                                    (click)="selectOption(attribute, option)" [class.selected]="option.selected">
                                {{ option.name }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy" fxLayout="column" fxLayoutGap="15px">
                <button type="button" class="large-button" mat-stroked-button color="primary" (click)="addChart()">
                    <mat-icon svgIcon="cart"></mat-icon> Adicionar ao Carrinho
                </button>
                <button type="button" class="large-button" mat-flat-button color="accent" (click)="buyNow()">
                    <mat-icon svgIcon="cart-check"></mat-icon> Comprar agora
                </button>
            </div>
            <div *ngIf="shipping?.length <= 0" class="shipping-calculate">
                <div class="sub-title">Calcule o Frete</div>
                <div class="margin-horizontal margin-bottom" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between start">
                    <div ngClass.gt-sm="margin-right" fxLayout="column">
                        <mat-form-field appearance="outline" class="no-padding no-margin">
                            <mat-label>Informe seu CEP</mat-label>
                            <input class="no-margin no-padding" placeholder="00000-000" [mask]="'00000-000'" [(ngModel)]="postalCode" matInput>
                        </mat-form-field>
                        <button class="margin-top" type="button" mat-stroked-button color="primary" (click)="shipment()">
                            <mat-icon svgIcon="truck"></mat-icon> Calcular Frete
                        </button>
                    </div>
                </div>
            </div>

            <div class="shipping" *ngIf="shipping?.length > 0">
                <div class="sub-title">Calculo do Frete</div>
                <div fxLayoutAlign="start center"><mat-icon svgIcon="printer"></mat-icon> Frete a partir de {{ bestShipping.price | price }}.</div>
                <div fxLayoutAlign="start center"><mat-icon svgIcon="truck"></mat-icon> Entrega em até {{ bestShipping.time }} dias úteis para sua região.</div>
                <div fxLayoutAlign="start center"><mat-icon svgIcon="store"></mat-icon> Ou retire grátis a partir de amanhã em Santo André.</div>
                <button class="margin-top" fxFill mat-stroked-button color="accent" (click)="recalculate()">Recalcular frete</button>
            </div>
        </div>
    </div>
    <div class="padding">
        <div class="sub-title">Descrição do Produto</div>
        <div [innerHTML]="product?.description"></div>

        <ng-container *ngIf="product?.categories?.length > 0">
            <div class="sub-title">Produtos Relacionados</div>
            <app-product-carousel [category]="product.categories[0].slug"></app-product-carousel>
        </ng-container>
    </div>
</div>