@import "src/variables";

:host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
}
.page {
    .sub-title {
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .image {
        background: #dcdfe6;
    }
    .product-info {
        padding-top: $margin;
        padding-right: $margin;
        margin-left: $margin;
        display: flex;
        flex-flow: column;
        border-right: 1px solid #ededed;
        width: 100%;
        &.large {
            max-width: 350px;
        }
        .title-price {
            margin-bottom: $margin * 2;
        }
        .options {
            margin-bottom:  $margin * 2;
        }
        .attributes {
            button.selected {
                background: $base-accent;
                border: $base-accent;
                color: #fff;
            }
        }
        .price {
            font-size: 30px;
            font-weight: bold;
        }
        .shipping-price {
            font-weight: bold;
        }
        .shipping {
            margin-top: $margin * 2;
            div {
                color: #343434;
                i {
                    color: $base-primary;
                    margin-right: $margin;
                }
            }
        }
    }
}