<mat-progress-bar class="progress" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="container" fxFlexFill fxLayoutAlign="center center">
  <mat-card class="login-card" fxFlex.gt-sm="500px" fxFlex="100%">
    <mat-card-content fxLayout="column">
      <div class="logo">
        <img height="40px" src="assets/images/logo.png">
      </div>
      <form name="form" [formGroup]="formGroup" (submit)="submit()" fxLayout="column">
        <mat-form-field appearance="outline" appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="user">
        </mat-form-field>
        <mat-form-field appearance="outline" appearance="fill">
          <mat-label>password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-error margin-bottom" *ngIf="error">{{ error }}</div>
        <button color="primary" type="submit" mat-flat-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
