.container {
  background-image: url('/assets/images/login-background.jpg');
  background-color: #672893;
  .login-card {
    .logo {
      text-align: center;
      img {
        height: 100%;
      }
    }
  }
}


