<div class="container" fxFlexFill fxLayoutAlign="center center">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  <mat-card  class="login-card" fxFlex.gt-sm="500px" fxFlex="100%" *ngIf="!loading">
    <mat-card-content fxLayout="column">
      <div class="logo">
        <img [style.height]="'100px'" src="/assets/images/logo-black.png">
      </div>
      <form name="form" [formGroup]="formGroup" (submit)="submit()" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="user">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hide">
              <mat-icon svgIcon="eye"></mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-error margin-bottom" *ngIf="error">{{ error }}</div>
        <button color="primary" type="submit" mat-flat-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
