<!-- carousel -->
<div #carousel class="carousel" [style.height]="sliderHeight() + 'px'" [style.width]="'100%'">
    <ng-container *ngFor="let slide of slides; let i = index">
        <div class="slide" *ngIf="i === currentSlide" [style.background]="'url(' + getUrl(slide) + ')'"
             [@slideAnimation]="animationType">
            <div class="container" fxLayoutAlign="start center">
                <div class="slide-content" [innerHTML]="slide.content"></div>
            </div>
        </div>
    </ng-container>

    <!-- controls -->
    <div class="container arrows" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="slides?.length > 1">
        <button class="control prev" (click)="previus()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="next()">
            <span class="arrow right"></span>
        </button>
    </div>
</div>