<mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>

<div class="container inner-page" fxLayout="row">
    <div fxFlex>
        <h1>Cadastre seu endereço</h1>
        <form [formGroup]="formGroup" fxLayout="column" (submit)="submit()">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput (ngModelChange)="searchPostalCode()" formControlName="zip_code">
                </mat-form-field>
                <div fxFlex="300px" class="margin-left">
                    <button mat-button color="primary" type="button" (click)="searchPostalCode()">
                        <i class="mdi mdi-find-replace"></i>
                        Buscar
                    </button>
                </div>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Endereço</mat-label>
                <input matInput [readonly]="found" formControlName="street_name">
            </mat-form-field>

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="street_number">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="200px" class="margin-left">
                    <mat-label>Complemento</mat-label>
                    <input matInput formControlName="complement">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput [readonly]="found" formControlName="neighborhood">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="state_id" (ngModelChange)="stateChanged()">
                    <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Cidade</mat-label>
                <mat-select formControlName="city_id" placeholder="Cidade">
                    <mat-option>
                        <ngx-mat-select-search [(ngModel)]="searchCity"
                                               [ngModelOptions]="{standalone: true}"
                                               noEntriesFoundLabel="Nenhuma cidade encontrada"
                                               placeholderLabel="Busque a cidade"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let city of getCities()" [value]="city.id">{{ city.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Continuar</button>
        </form>
    </div>
    <div fxFlex.gt-sm="50%">
    </div>
</div>