<mat-progress-bar class="progress" *ngIf="loading > 0" mode="indeterminate"></mat-progress-bar>

<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1>{{ id ? 'Editar' : 'Adicionar' }} Produto</h1>
    <button (click)="submit()" color="primary" mat-flat-button>
        <mat-icon svgIcon="plus"></mat-icon>
        {{ id ? 'Salvar edição' : 'Adicionar' }}
    </button>
</div>

<form class="common-form" [formGroup]="formGroup" (submit)="submit()">
    <mat-tab-group class="vertical">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon svgIcon="pencil margin-right"></mat-icon>Dados Básicos
            </ng-template>
            <div class="common-form-max" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Nome do Produto</mat-label>
                    <input matInput required formControlName="name"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Código do Produto (SKU)</mat-label>
                    <input matInput required formControlName="sku"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Descrição do Produto</mat-label>
                    <textarea matInput required formControlName="description"></textarea>
                </mat-form-field>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="15px">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Preço de Custo</mat-label>
                        <input matInput required formControlName="price_cost">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Preço de Venda</mat-label>
                        <input matInput required formControlName="price">
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon svgIcon="image margin-right"></mat-icon>
                Imagens
            </ng-template>
            <div class="common-form-max" fxLayout="row">
                <app-file-upload [multiple]="true" [type]="fileType" [id]="this.id" [token]="this.token"></app-file-upload>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon svgIcon="text margin-right"></mat-icon>
                Meta tags
            </ng-template>
            <div class="common-form-max" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Meta Nome</mat-label>
                    <input matInput required formControlName="meta_name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Meta Descrição</mat-label>
                    <textarea matInput required formControlName="meta_description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Meta Keys</mat-label>
                    <textarea matInput required formControlName="meta_keys"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon svgIcon="chart-bar margin-right"></mat-icon>
                Opções
            </ng-template>
            <div class="common-form-max">
                <h3>Opções Disponíveis</h3>
                <mat-selection-list formControlName="options">
                    <mat-list-option *ngFor="let option of options" [value]="option.id">
                        {{ option.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon svgIcon="chart-bar margin-right"></mat-icon>
                Categorias
            </ng-template>
            <div class="common-form-max">
                <h3>Categorias Disponíveis</h3>
                <mat-selection-list formControlName="categories">
                    <mat-list-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
