.products {
    display: row;
    .product {
        width: calc(25% - 20px);
        margin-right: 20px;
        padding: 0px;
    }
    .see-more {
        height: 240px;
        background: #f3f3f3;
        color: #0ca8a0;
        line-height: 240px;
        font-size: 25px;
        border: 5px solid;
        padding: 0px 50px;
    }
}