<div fxLayout="column" [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput required formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput mask="(00) 0000-00000" formControlName="phone">
  </mat-form-field>
</div>
