@import 'src/variables';
section {
    padding: $margin 0;
    .product {
        margin-bottom: 30px;
    }
    .info {
        font-size: 20px;
    }
}
.container-categories {
    background: url("../../../../assets/images/background-categories.png");
    .categories {
        overflow: auto;
        .category {
            border-radius: 50%;
            opacity: 1;
            border: 5px solid #ffffff;
            &.selected {
                border: 5px solid $base-accent;
            }
        }
    }
}