<div class="container padding-top">
    <h1>Política de Privacidade</h1>
    <h2>TERMOS E CONDIÇÕES DE USO</h2>

    <p>O uso deste site está sujeito a termos e condições, pedimos por gentileza que nossos clientes leiam com atenção todos os tópicos aqui descritos.<br>
        Ao utilizar nossos serviços ou efetuar compras você está aceitando estes termos e condições especificados abaixo e de todos os itens de nossas políticas</p>

    <p>Se você está aqui é porque você quer saber mais sobre as obrigações e direitos que lhe correspondem como um usuário do site Ana Raquel Ilustrações.
        Esta Política de Privacidade é para informá-lo com total transparência sobre a finalidade desta loja e tudo o que afeta os dados que nos forneça, bem como as obrigações e direitos que lhe correspondem.
        Para começar, você deve saber que este site se adapta a normativa vigente em matéria de proteção de dados, o que afeta os dados pessoais que nos forneça com o seu consentimento expresso e os cookies que utilizamos para que este site funcione corretamente e possa desenvolver sua atividade.
        Especificamente, este site se ajusta ao cumprimento das seguintes normas:<br>
        • Lei geral de proteção de dados pessoais (projeto de lei aprovado recentemente, baseado na lei Europeia)<br>
        • Lei Brasileira n.º 12.965, de 2014<br>
        • RGPD (Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016, relativo à proteção das pessoas físicas) que é a nova legislação da União Europeia que unifica a regulamentação do tratamento dos dados pessoais nos diferentes países da UE.</p>

    <p>Informamos que esta Política de Privacidade pode ser alterada a qualquer momento, com a finalidade de adaptá-la a novidades legislativas ou mudanças em nossas atividades, sendo vigente a cada momento a que está publicada no site.</p>

    <h2>CONDIÇÕES DE USO</h2>

    <p>Você deve saber, para sua tranquilidade, que sempre será solicitado o seu consentimento expresso para obter seus dados com a respectiva finalidade especificada em cada caso, o que implica que, em caso de dar esse consentimento, você leu e concorda com esta Política de Privacidade.
        No momento em que acesse e utiliza esta página web, está assumindo a sua condição de usuário com seus correspondentes direitos e obrigações.</p>

    <h2>PRIVACIDADE NOS DADOS FORNECIDOS</h2>

    <p>Nunca solicitaremos informações pessoais, a menos que realmente seja necessário para prestar os serviços que ofereço nesse website.
        Não divulgamos informações pessoais de nossos clientes para terceiros em hipótese alguma, em caso excepcional que tenha a sua autorização expressa, ou ser disponibilizados aos tribunais e às demais autoridades competentes, no estrito cumprimento do disposto na lei.
        Os dados são armazenados em ambiente seguro e utilizados exclusivamente para processamento de sua compra, entrega e caso necessário um eventual contato com cliente. Nunca será utilizado seus dados pessoais com uma finalidade diferente da expressa nesta política de privacidade.</p>

    <h2>EXATIDÃO E VERACIDADE DOS DADOS</h2>

    <p>Como usuário, você é o único responsável pela veracidade e alteração dos dados que enviar ao Ana Raquel Ilustrações, exonerando-nos de qualquer responsabilidade a respeito.
        Quer dizer, a você cabe garantir e responder em qualquer caso, a exatidão, vigência e autenticidade dos dados pessoais fornecidos, e se comprometer a manter esses dados devidamente atualizados.
        De acordo ao expressado nesta Política de Privacidade, você concorda em fornecer informação completa e correta no formulário de contato ou assinatura.</p>

    <h2>ATUALIZAÇÃO DOS DADOS</h2>

    <p>Caso o usuário opte em ter seus dados pessoais cadastrais em nosso sistema, é de extrema importância que os mesmos estejam sempre atualizados para que os pedidos realizados não tenham nenhum contratempo em sua finalização e entrega.</p>

    <h2>REGISTRO E FINALIDADE DOS SEUS DADOS</h2>

    <p>Alguns dos dados pessoais são de fornecimento obrigatório. O Ana Raquel Ilustrações informará dessa obrigatoriedade. A disponibilização de dados incorretos ou inexatos é da exclusiva responsabilidade do cliente titular dos mesmos.
        Em função do formulário ou seção que acesse será solicitado exclusivamente os dados necessários com as finalidades realmente necessaárias para a conclusão e postagem do pedido.
        Nenhum dado referente a senhas ou cartão de crédito ficam em poder do Ana Raquel Ilustrações.</p>

    <h2>CRIANDO UMA CONTA</h2>

    <p>Os dados pessoais cadastrados em uma conta serão mantidos apenas para agilizar o processo de uma eventual nova compra, ou para pesquisa pessoal dos clientes a um relatório ou histórico de compras realizado.
        Não emitimos nenhum tipo de e-mail contendo propraganda ou promoção de nossa loja para o email cadastrado na conta principal do usuário, para esta finalidade temos exclusivamente como opção o formulário newsletter.
        Uma conta poderá ser cancelada e excluída definitivamente de nosso servidor a qualquer momento assim que o cliente desejar. Veja <a [routerLink]="['user', 'create']">aqui</a> como realizar o cadastro em uma conta no nosso site.</p>

    <h2>DADOS PARA RECEBER PROMOÇÕES EM NOSSA NEWSLETTER</h2>

    <p>Ao se cadastrar, os usuários passarão a receber mensagens de caráter comercial por e-mail como informações sobre nossa marca, promoções, campanhas publicitárias, informativos e sugestão de produtos.
        O cadastro do email na newsletter encontra-se na parte inferior em nossa página principal, é simples e opcional, ao preencher dois campos do formulário da newsletter o usário está confirmando a autorização de e-mails promocionais, sendo assim o usuário tem a liberdade e dar ou não seu consentimento expresso para receber nossa Newsletter. Podendo ser cancelado ou excluido no momento em que desejar, bastando nos informar através de nosso email: contato@institutodigital.com.br.</p>

    <h2>CONSERVAÇÃO DOS DADOS PESSOAIS</h2>

    <p>O período de tempo durante o qual os dados pessoais são armazenados e conservados variará em conformidade das finalidades para os quais foram solicitados. Os dados pessoais recolhidos para criação de uma conta ou a subscrição de newsletters, serão guardados pelo período desde a solicitação da sua subscrição e até que seja retirado o respetivo consentimento.</p>

    <h2>CANCELAMENTO DE INSCRIÇÃO E O DIREITO DE REVOGAÇÃO</h2>

    <p>Como titular dos dados que nos tenha fornecido, pode exercer em qualquer momento os seus direitos de acesso, retificação, oposição, cancelamento de cadastro para compra ou cancelamento de cadastro na newletter , enviando-nos um e-mail para contato@anaraquelilustracoes.com.br, o mesmo deve partir diretamente do e-mail cadastrado em sua conta, para que possamos garantir a sua identidade como prova válida.</p>

    <h2>MEDIDAS DE SEGURANÇA</h2>

    <p>O nosso site Ana Raquel Ilustrações adotou todas as medidas técnicas e organizacionais necessárias para garantir a segurança e integridade dos dados de carácter pessoal que trate, bem como para evitar a sua alteração, perda, e/ou acesso por parte de terceiros não autorizados.
        Esta loja possui um certificado SSL, trata-se de um protocolo de segurança que faz com que seus dados viajem de forma íntegra e segura, ou seja, a transmissão de dados entre um servidor e um usuário da web é totalmente criptografada ou encriptada.
        De todas as formas, deve estar ciente de que as medidas de segurança dos sistemas informáticos na Internet não são inteiramente confiáveis, por isso no site https://www.institutodigital.com.br, também não posso garantir completamente a inexistência de vírus ou outros elementos que possam produzir alterações nos sistemas informáticos (software e hardware) do Utilizador ou em seus documentos eletrônicos e arquivos que contém.
        Em caso de algum problema de fuga de dados me comprometo a avisar imediatamente as autoridades e a você leitor.</p>

    <h2>SEGURANÇA NO PAGAMENTO</h2>

    <p>Por questões de segurança tercerizamos todo o processo de pagamentos em nossa loja, optamos em ter parcerias com as maiores empresas neste segmento.
        Todas as transações de pagamentos realizadas em nosso site são intermediadas pelos parceiros Pagseguro, Paypal que possuem políticas próprias de validação de dados dos usuários e aprovação de pagamentos com rigorosos processos de segurança para evitar possíveis fraudes ou qualquer irregularidade.</p>

    <p>Dados relacionados ao cartão de crédito são enviados diretamente para o banco de dados destas empresas, nós do Ana Raquel Ilustrações não temos acessos a essas informações, bem como interferência na aprovação ou recusa do pagamento.
        Ao realizar uma compra em nosso site, os parceiros relacionados irão avisar o cliente sobre o status do pagamento, podendo ele entrar em contato diretamente com os parceiros para questionar ou esclarecer dúvidas.</p>

    <h2>COOKIES</h2>

    <p>Um cookie é um arquivo de texto que é baixado em seu computador ao acessar determinadas páginas da web ou blogs.
        Os cookies permitem a essa página, entre outras coisas, armazenar e recuperar informação sobre os seus hábitos de navegação ou de sua equipe, e de acordo com a informação que contenha e do modo como você usa seu computador, podem ser utilizadas para lhe reconhecer.
        O navegador do usuário memoriza cookies no disco rígido, apenas durante a sessão atual, ocupando um espaço de memória mínima e não prejudicial ao computador. Os cookies não contêm nenhum tipo de informação pessoal específica, e a maioria das mesmas são apagadas do disco rígido ao encerrar a sessão do navegador (chamados cookies de sessão).
        A maioria dos navegadores aceita como padrão os cookies e, com a independência das mesmas, permitem ou impedem as definições de segurança cookies temporários ou memorizadas.
        Os cookies associam-se ao navegador, não a pessoa, por isso não costumam armazenar informações sensíveis sobre você como cartões de crédito ou dados bancários, fotografias, informações pessoais e etc…
        Os dados que guardam são de caráter técnico, estatísticos, preferências pessoais, personalização de conteúdo…</p>

    <p>Este site usa cookies para otimizar a sua navegação. Se não permitir, pode desativar essa opção no seu navegador ou sair do site.</p>

    <h2>GOOGLE ANALYTICS</h2>

    <p>O Google Analytics é um serviço de análise web fornecido pela Google, Inc., uma companhia de Delaware cujo escritório principal está em 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).
        Google Analytics utiliza “cookies”, que são arquivos de texto localizados no seu computador, para ajudar o website a analisar o uso que os usuários fazem do site.
        A informação gerada pelo cookie sobre a sua utilização do website (incluindo o seu endereço IP) será diretamente transmitida e arquivada por Google. Google usará esta informação por minha conta, com o propósito de seguir a pista do seu uso do website, compilando relatórios sobre a atividade do website e fornecendo outros serviços relativos a atividade do website e utilização da Internet.
        Google pode igualmente transferir esta informação para terceiros, sempre que exigido por lei ou quando estes terceiros processem a informação através do Google. O Google não associará o seu endereço IP com qualquer outro dado mantido.</p>

    <h2>REGULAMENTAÇÃO SOBRE ACEITAÇÃO DE COOKIES</h2>

    <p>Ao acessar este site, e de acordo com a normativa vigente em matéria de proteção de dados, informamos o uso de cookies, dando-lhe a opção de aceitar expressamente e de ter acesso a mais informações através desta Política de Cookies.
        Você deve saber que, no caso de continuar navegando, você está dando seu consentimento para a utilização de cookies. Mas, em qualquer momento, pode mudar de opinião e bloquear a sua utilização através de seu navegador.
        Para sua total tranquilidade, este site está em conformidade com o estipulado na legislação em vigor em relação com o uso de cookies e de seus dados pessoais:
        • Lei geral de proteção de dados pessoais (projeto de lei aprovado recentemente, baseado na lei Europeia)
        • Lei Brasileira n.º 12.965, de 2014
        • RGPD (Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016, relativo à proteção das pessoas físicas) que é a nova legislação da União Europeia que unifica a regulamentação do tratamento dos dados pessoais nos diferentes países da UE.</p>
</div>