<mat-nav-list class="menu">
    <div class="header">Cadastros Básicos</div>
    <mat-list-item routerLink="/auth/dashboard" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-finance"></i>
            <div class="margin-left">Dashboard</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/orders" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-currency-brl"></i>
            <div class="margin-left">Pedidos</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/products" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-cart"></i>
            <div class="margin-left">Produtos</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/banners" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-image-album"></i>
            <div class="margin-left">Banners</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/categories" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-square-outline"></i>
            <div class="margin-left">Categorias</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/options" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-truck"></i>
            <div class="margin-left">Opções</div>
        </a>
    </mat-list-item>
    <mat-list-item routerLink="/auth/users" matLine>
        <a fxLayout="row" fxLayoutAlign="start center">
            <i class="mdi mdi-account-group"></i>
            <div class="margin-left">Usuários</div>
        </a>
    </mat-list-item>

</mat-nav-list>
