<header>
    <div class="container" fxLayoutAlign="space-between center">
        <div class="logo" routerLink="/">
            <img src="assets/images/logo.png">
        </div>

        <div class="menu" fxLayout="row">
            <a class="item" routerLink="home">Home</a>
            <div class="margin-left">
                <a class="item" routerLink="checkout">
                    <i class="mdi mdi-cart"></i> <span>Carrinho</span>
                </a>
                <a class="item" (click)="logout()">
                    <i class="mdi mdi-cart"></i> <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</header>