<div fxLayout="column" fxFill>
    <mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="column" fxFill>
        <small class="muted">Produtos</small>
        <div *ngFor="let product of products; let i = index" fxFill fxLayoutAlign="space-between center" class="margin-bottom">
            <div fxFlex fxLayout="row">
                <img [src]="product.files[0]?.url" class="product-image rounded">
                <div class="margin-left">
                    <div>{{ product.name }}</div>
                    <div class="muted" *ngFor="let option of product?.selected_options">{{ option?.name }}</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-icon-button (click)="minus(i)"><i class="mdi mdi-minus-circle"></i></button>
                <div>{{ product.quantity }}</div>
                <button mat-icon-button (click)="plus(i)"><i class="mdi mdi-plus-circle"></i></button>
                <div class="margin-left">{{ product.total_price | price }}</div>
                <button mat-icon-button color="warn" (click)="remove(i)">
                    <i class="mdi mdi-trash-can"></i>
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end center" class="padding-vertical">
            <div class="margin-right">Sub-total:</div>
            <div fxFlex="115px">{{ subTotal | price }}</div>
        </div>
    </div>
</div>