<mat-card class="product" fxLayout="column">
    <a class="pointer" (click)="buy()">
        <app-carousel class="photo" [slides]="product.files" [height]="300" [width]="220"></app-carousel>
    </a>
    <div class="padding" fxLayout="column">
        <a class="title pointer" (click)="buy()">{{ product.name }}</a>
        <div fxLayout="column">
            <div class="margin-bottom">A partir de <b>{{ product.price | price }}</b></div>
            <button type="button" mat-stroked-button color="primary" (click)="buy()">
                <mat-icon svgIcon="cart"></mat-icon> Comprar
            </button>
        </div>
    </div>
</mat-card>