<mat-card class="product" fxLayout="column">
    <app-carousel class="photo" [slides]="product.files" [height]="300" [width]="220"></app-carousel>
    <div class="padding" fxLayout="column">
        <a class="title pointer" (click)="buy()">{{ product.name }}</a>
        <div fxLayout="column">
            <div class="margin-bottom">À partir de <b>{{ product.price | price }}</b></div>
            <button type="button" mat-stroked-button color="primary" (click)="buy()">
                <i class="mdi mdi-cart"></i> Comprar
            </button>
        </div>
    </div>
</mat-card>