@import '~@angular/material/theming';
@import 'variables';
@include mat-core();

$typography: mat-typography-config(
        $font-family: Nunito,
        $headline: mat-typography-level(24px, 28px, 600),
        $body-1: mat-typography-level(16px, 24px, 400)
);


/* ======== Angular material custom themes ======== */
$flecha-theme: mat-light-theme($primary, $accent, $warn);

@include mat-base-typography($typography);
@include angular-material-theme($flecha-theme);
@include mat-core($typography);
/*
.mat-raised-button, .mat-flat-button, .mat-stroked-button {
        border-radius: 20px !important;
}
.mat-tab-group.vertical {
        @media(min-width:1024px) {
                flex-direction: row;
                .mat-tab-header {
                        border-bottom: none;
                }
                .mat-tab-header-pagination {
                        display: none !important;
                }
                .mat-tab-labels {
                        padding: 15px;
                        display: flex;
                        flex-flow: column;
                        > div {
                                padding-left: 5px;
                        }
                }
                .mat-tab-label-content {
                        width: 100%;
                        font-size: 15px;
                        font-weight: 600;
                        justify-content: start;
                }
                .mat-tab-label-active {
                        color: #1b55e6;
                        opacity: 1;
                }
                .mat-ink-bar {
                        height: 100%;
                        left: 98% !important;
                        background-color: #ededed !important;
                }

                .mat-tab-body-wrapper {
                        flex: 1 1 auto;
                }
        }
}
.mat-form-field-wrapper {
        padding: 10px 0px;
}
*/
