@use '~@angular/material' as mat;

$flecha-blue: (
        50: #e8eaf6,
        500: #0ba8a8,
        900: #005f5f,
        A100: #8ac1c1,
        A200: #5eb3b3,
        A400: #3cbaba,
        A700: #0ba8a8,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(black, 0.87),
                A200: white,
                A400: white,
                A700: white,
        )
);
$flecha-accent: (
        50: #e8eaf6,
        500: #ff652a,
        900: #c13b03,
        A100: #eebcaa,
        A200: #f6916c,
        A400: #ea7342,
        A700: #f65611,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(black, 0.87),
                A200: white,
                A400: white,
                A700: white,
        )
);
$base-primary: #0ba8a8;
$base-accent: #f65611;
$primary: mat.define-palette($flecha-blue);
$accent: mat.define-palette($flecha-accent);
$warn: mat.define-palette(mat.$red-palette);
$margin: 15px;